.my-lists{
  background-color: rgb(136, 115, 88);
}

.my-items{
  font-weight: 700;
  font-size: large;
   color: rgb(255, 255, 255);
}

.my-heading{
  background-color: rgb(161, 137, 137);
}
.btn{
  float:right ;
}